.DS_Store

node_modules
config/settings.yaml
config/google_creds.json
.vercel
logs

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Dockerfile.old

cdk/node_modules

dist
